---
layout: default
---

<div class="home">

  <h1 class="page-heading"></h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <article>
<!--            {% if post.image %}<img class="post-image" src="{{ post.image }}">{% endif %}-->
            <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
            <span class="post-meta">{{ post.excerpt  | remove: '<p>' | remove: '</p>'}} &#8226; {{ post.date | date: "%b %-d, %Y" }}</span>
          </article>
      </li>
    {% endfor %}
  </ul>

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="previous"><i class="fad fa-backward"></i></a>
  {% else %}
    <span class="previous"></span>
  {% endif %}
  <span class="page_number ">page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next"><i class="fad fa-forward"></i></a>
  {% else %}
    <span class="next "></span>
  {% endif %}
</div>
    
    
</div>