<header class="site-header group">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="nav-collapse">
      <ul>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"><i class="icon-rss"></i> </a></li>
        <li><a href="https://twitter.com/gbradhopkins"><i class="icon-twitter"></i> </a></li>
        <li><a href="http://dribbble.com/firebrandmedia"><i class="icon-dribbble"></i> </a></li>
        <li><a href="https://github.com/firebrandmedia"><i class="icon-github-square"></i></a></li>
        <li><a href="http://www.linkedin.com/in/gbradhopkins/"><i class="icon-linkedin"></i></a></li>
        <li><a href="http://firebrand.media"><i class="icon-firebrand-media-logo"></i></a></li>
      </ul>
    </nav>

  </div>

</header>
