<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {% else %}{% endif %}gbradhopkins.com</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700|Rubik:300,400,900" rel="stylesheet">
  <script src="https://kit.fontawesome.com/949e38d1b4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ "/css/responsive-nav.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    
<!--Meta Data-->
    
  <script type='application/ld+json'> 
    {
      "@context": "http://www.schema.org",
      "@type": "WebSite",
      "name": "gbradhopkins.com",
      "thumbnailUrl": "/images/bio-gbradhopkins.jpg",
      "publisher": "gbradhopkins.com",
      "alternateName": "G. Brad Hopkins",
      "url": "http://gbradhopkins.com"
    }
 </script>
    
<!-- JS -->
  <script src="{{ "/css/responsive-nav.min.js" | prepend: site.baseurl }}"></script>
</head>
