<header class="site-header group">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="nav-collapse">
      <ul>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe to the RSS feed"><i class="icon-rss"></i> </a></li>
        <li><a href="https://twitter.com/gbradhopkins" title="Follow me on Twitter"><i class="icon-twitter"></i> </a></li>
        <li><a href="http://dribbble.com/firebrandmedia" title="Sometimes I post work on Dribbble"><i class="icon-dribbble"></i> </a></li>
        <li><a href="https://github.com/firebrandmedia" title="My Github account"><i class="icon-github-square"></i></a></li>
        <li><a href="http://www.linkedin.com/in/gbradhopkins/" title="My LinkedIn Profile"><i class="icon-linkedin"></i></a></li>
        <li><a href="http://firebrand.media" title="My Business Website - Firebrand.Media"><i class="icon-firebrand-media-logo"></i></a></li>
      </ul>
    </nav>

  </div>

</header>
