<header class="site-header group">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="nav-collapse">
      <ul>
        <li><a href="{{ "/archive.html" | prepend: site.baseurl }}" title="gBradhopkins.com Archives"><i class="fal fa-scroll-old"></i><span class="nav-text">Complete archives of gbradhopkins.com</span> </a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe to the RSS feed"><i class="fal fa-rss-square"></i><span class="nav-text">RSS Feed for gbradhopkins.com</span> </a></li>
        <li><a href="https://github.com/firebrandmedia" title="My Github account"><i class="fab fa-github"></i><span class="nav-text">My work on Github</span> </a></li>
      </ul>
    </nav>

  </div>

</header>
