h1, h2 {
    font-family: 'Quattrocento Sans', sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 250%;
    padding: 2% 0;
    margin-bottom: 1px;
}

.site-header {
    padding: 20px;
    border-bottom: 1px solid $brand-color;
    color: #686768;
    width: 100%;
    text-align: center;
}

.site-title {
    font-size: 300%;
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
}

.site-nav {
    
}

.wrapper {
    padding: 0;
}

.post-list {
    border-top: 1px solid #fff;
}

.post-list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: $brand-color;
    padding: 10%;
    color: #fff;
}

.post-list li:first-of-type {
    background-color: lighten($brand-color, 5%);
    padding: 10%;
    color: #fff;
}

.post-list li:last-of-type {
    background-color: lighten($brand-color, 1%);
    padding: 10%;
    color: #fff;
}

